  <!-- Footer Section Begin -->
   <!-- ****** Footer Area Start ****** -->
 
<footer class="page-footer" style="background: rgb(73, 36, 36); padding: 10px;">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Footer Content</h5>
          <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Our Media</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="#!"><i class="fa fa-instagram" aria-hidden="true"></i>instagram</a></li>
            <li><a class="grey-text text-lighten-3" href="#!"><i class="fa fa-facebook" aria-hidden="true"></i>facebook</a></a></li>
            <li><a class="grey-text text-lighten-3" href="#!"><i class="fa fa-envelope" aria-hidden="true"></i>E-mail : sdawiayoub11@gmail.com<</a></li>
            <li><a class="grey-text text-lighten-3" href="#!"><i class="fa fa-envelope" aria-hidden="true"></i>E-mail : sdawiayoub11@gmail.com</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;<script>document.write(new Date().getFullYear());</script>  distributed by <a href="#" target="_blank">Ayoubsadi.com</a>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                                
      </div>
    </div>
  </footer>
      
<!-- Footer Section End -->