
 
  <nav class="navbar sticky-top navbar-expand-lg bg-danger nav">
   
      <a class="navbar-brand" href="#">  <h1 class="my-0 mr-md-auto logo">KhawlaFashion</h1> </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
   <i class="fa fa-bars"></i>
  </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent" style="background: transparent;">
        <ul class="navbar-nav  w-100 justify-content-end" style="background: transparent;">
          <a class=" link links" style="color:rgb(207, 197, 197);font-size: 30px;font-weight: 500;"  href="{% url 'home' %}">Home</a>
           <a class="link links" style="color:rgb(207, 197, 197);font-size: 30px;font-weight: 500;"  href="{% url 'catalog' %}">Catalog</a>
              <a class="link links" style="color:rgb(207, 197, 197);font-size: 30px;font-weight: 500;"  href="{% url 'contact' %}">Contact</a>
              <a class="link login" style="color:rgb(207, 197, 197);font-size: 30px;font-weight: 500;"   href="{% url 'signin' %}">login</a>
        </ul>
      </div>
    </div>
  </nav>



