{%load  static  %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <!-- Compiled and minified CSS -->
      <link rel="stylesheet" href="{% static 'administration/css2/createitem.css' %}">
      <link rel="stylesheet" href="{% static 'administration/css2/sidebar.css' %}">
          <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    {% block style %}

    {% endblock  %}
      {% include 'scripts/links.html' %}
      <style>
        @media screen and (min-width: 992px) {
   #menulinks {
      display: block;
   }

   #shmenulinks {
      display: none;
   }

}

@media screen and (max-width: 991px) {
   #shmenulinks {
      display: block;
   }
}
      </style>
    
</head>
    <title>Document</title>
</head>
<body>

  <!-- The sidebar -->
 
     <nav></nav>
  <div class="container" style="padding-top: 50px;height: 100%;">

    <div class="row" style="height: 100%;">
  
      <div class="col-lg-3" >
        {% include 'administration/base/sidebar.html' %}
  
    
      </div>
  
      <div id="conteudo" class="col-lg-9">
  
       
            
            {% block content %}
                        
            {% endblock  %}
       
  
      </div>
  
    </div>
  
  </div>
  
    
    {% block javascript %}
      
    {% endblock  %}
      

    <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
         
  {% include 'scripts/scripts.html' %}
  {% include 'scripts/messages.html' %}

   <!-- Compiled and minified JavaScript -->
              
</body>
</html>
