{% load static %}
  <!-- Css Styles -->
  <link rel="stylesheet" href="{% static 'landing/css/bootstrap.min.css'%}" type="text/css">
  <link rel="stylesheet" href="{% static 'landing/css/themify-icons.css'%}" type="text/css">
  <link rel="stylesheet" href="{% static 'landing/css/elegant-icons.css'%}" type="text/css">
  <link rel="stylesheet" href="{% static 'landing/css/owl.carousel.min.css'%}" type="text/css">
  <link rel="stylesheet" href="{% static 'landing/css/jquery-ui.min.css'%}" type="text/css">
  <link rel="stylesheet" href="{% static 'landing/css/slicknav.min.css'%}" type="text/css">
   <!-- Favicon  -->

   <!-- Core Style CSS -->
   <link rel="stylesheet" href="{% static 'landing/css/core-style.css'%}">
   <link rel="stylesheet" href="{% static 'landing/css/style.css'%}">
   <link rel="stylesheet" href="{% static 'landing/css2/index.css' %}">
   <link rel="stylesheet" href="{% static 'landing/css2/main.css' %}">
   <!-- Responsive CSS -->
   <link href="{% static 'landing/css/responsive.css'%}" rel="stylesheet">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.6.0/themes/prism.min.css" integrity="sha512-MnB+jPP0SRCdIWq7PGvYpgSIGniRZ4mxXgI/iwSY7EpZ5wp1OLhWxbPAYQukqAgam9891DIcDYJRFXkqjnj95Q==" crossorigin="anonymous" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">-->

