{% load static %}    
<script src="{%static 'landing/js/jquery-3.3.1.min.js' %} "></script>
 <script src="{%static 'landing/js/bootstrap.min.js' %}"></script>
 <script src="{%static 'landing/js/jquery-ui.min.js' %}"></script>
 <script src="{%static 'landing/js/jquery.countdown.min.js' %}"></script>
 <script src="{%static 'landing/js/jquery.slicknav.js' %}"></script>
 <script src="{%static 'landing/js/owl.carousel.min.js' %}"></script>

 <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
 <script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.23.0/prism.min.js" integrity="sha512-YBk7HhgDZvBxmtOfUdvX0z8IH2d10Hp3aEygaMNhtF8fSOvBZ16D/1bXZTJV6ndk/L/DlXxYStP8jrF77v2MIg==" crossorigin="anonymous"></script>
